<form class="{{cssClass}}" autocomplete="off">

  {{log "pj" this}}
  <section class="sheet-body pj-sheet">
    <header class="pj-header">
      <div class="charname">
        <input name="name" type="text" value="{{actor.name}}" />
      </div>
      <div class="description">
        {{editor descriptionHTML target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
         <div class="indications">
          <label>Indications pour jouer :</label>
          <input type="text" name="system.indications" value="{{system.indications}}" />
        </div>
      </div>     
      <div class="composantes">
        <div class="composantes-titre">composantes</div>
        <div class="composantes-details">
          <div class="composantes-corps">
            <img src="/systems/ludiverse/assets/corps.png" title="Corps" />
            <label>Corps</label>
            <input type="text" name="system.composantes.corps.valeur" value="{{system.composantes.corps.valeur}}" />
          </div>
          <div class="composantes-coeur">
            <img src="/systems/ludiverse/assets/coeur.png" title="Coeur" />
            <label>Coeur</label>
            <input type="text" name="system.composantes.coeur.valeur" value="{{system.composantes.coeur.valeur}}" />
          </div>
          <div class="composantes-esprit">
            <img src="/systems/ludiverse/assets/esprit.png" title="Esprit" />
            <label>Esprit</label>
            <input type="text" name="system.composantes.esprit.valeur" value="{{system.composantes.esprit.valeur}}" />
          </div>
        </div>
      </div>
      <div class="moyens">
        <div class="moyens-titre">moyens</div>
        <div class="moyens-details">
          <div class="moyens-action">
            <img src="/systems/ludiverse/assets/action.png" title="Action" />
            <label>Action</label>
            <input type="text" name="system.moyens.action.valeur" value="{{system.moyens.action.valeur}}" />
          </div>
          <div class="moyens-perception">
            <img src="/systems/ludiverse/assets/perception.png" title="Perception" />
            <label>Perception</label>
            <input type="text" name="system.moyens.perception.valeur" value="{{system.moyens.perception.valeur}}" />
          </div>
          <div class="moyens-résistance">
            <img src="/systems/ludiverse/assets/resistance.png" title="Résistance" />
            <label>Résistance</label>
            <input type="text" name="system.moyens.resistance.valeur" value="{{system.moyens.resistance.valeur}}" />
          </div>
        </div>
      </div>
      <div class="metier">
        <div class="metier-titre">Métier</div>
        <div class="metier-details">
          <input class="nom" type="text" name="system.metier.nom" value="{{system.metier.nom}}" />
          <input class="valeur" type="text" name="system.metier.valeur" value="{{system.metier.valeur}}" />
        </div>
      </div>
      <div class="talents">
        <div class="talents-titre">Talents</div>
        <div class="talents-details">
          <div class="talent1">
            <input class="nom" type="text" name="system.talent1.nom" value="{{system.talent1.nom}}" />
            <input class="valeur" type="text" name="system.talent1.valeur" value="{{system.talent1.valeur}}" />
          </div>
          <div class="talent2">
            <input class="nom" type="text" name="system.talent2.nom" value="{{system.talent2.nom}}" />
            <input class="valeur" type="text" name="system.talent2.valeur" value="{{system.talent2.valeur}}" /> 
          </div>
          <div class="talent3">
            <input class="nom" type="text" name="system.talent3.nom" value="{{system.talent3.nom}}" />
            <input class="valeur" type="text" name="system.talent3.valeur" value="{{system.talent3.valeur}}" />
          </div>  
      </div>
    </header>

    <div class="pj-main">
      <div class="points">
        <div class="points-vie">
          <label>Points de vie</label>
          <div classe="ligne-vie">
            {{#times system.pv.max}}
              <input type="checkbox" value="{{@index}}" />
            {{/times}}
          </div>
        </div>
        <div class="points-souffle">
          <label>Points de souffle</label>
          <div classe="ligne-souffle">
            {{#times system.ps.max}}
              <input type="checkbox" value="{{@index}}" />
            {{/times}}
          </div>
        </div>
      </div>
      <div class="equipement">
        <div class="equipement-titre">Equipement</div>
        <div class="equipement-details">
          {{editor equipementHTML target="system.equipement" button=true engine="prosemirror" owner=owner editable=editable}}
        </div>
      </div>
      <div class="capacites">
        <div class="capacites-titre">
          <input class="capacites-nom" type="text" name="system.capacites.nom" value="{{system.capacites.nom}}" />
        </div>
        <div class="capacites-details">
          <div class="capacites1-details">
            <div class="titre">
                <input class="nom" type="text" name="system.capacites.capacite1.nom" value="{{system.capacites.capacite1.nom}}" />
                (<input class="cout" type="number" name="system.capacites.capacite1.cout" value="{{system.capacites.capacite1.cout}}" /> PS)
            </div>
            {{editor capacites1HTML target="system.capacites.capacite1.description" button=true engine="prosemirror" owner=owner editable=editable}}
          </div>
          <div class="capacites2-details">
            <div class="titre">
                <input class="nom" type="text" name="system.capacites.capacite2.nom" value="{{system.capacites.capacite2.nom}}" />
                (<input class="cout" type="number" name="system.capacites.capacite2.cout" value="{{system.capacites.capacite2.cout}}" /> PS)
            </div>
            {{editor capacites2HTML target="system.capacites.capacite2.description" button=true engine="prosemirror" owner=owner editable=editable}}
          </div>
          <div class="capacites3-details">
            <div class="titre">
              <input class="nom" type="text" name="system.capacites.capacite3.nom" value="{{system.capacites.capacite3.nom}}" />
              (<input class="cout" type="number" name="system.capacites.capacite3.cout" value="{{system.capacites.capacite3.cout}}" /> PS)
            </div>
            {{editor capacites3HTML target="system.capacites.capacite3.description" button=true engine="prosemirror" owner=owner editable=editable}}
          </div>
        </div>
        </div>
        <div class="image">
          <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
          <div class="regles">
            <label class="titre">Règle de base</label>
            <label class="details">
                Valeur à ne pas dépasser avec 2d6 :
            <br />
            Composante + Moyen + Métier ou Talent +/- Difficulté
            </label>
          </div>
        </div>
      </div>
  </section>
</form>